gitnotes.txt


python3.11 -m pip install 
python3.11 -m pip install --upgrade pip
python3.11 -m pip install pytest
python3.11 -m pytest
python3.11 -m pip install pygame


git add --all
git commit -m "initial commit"
git push
