gitnotes.txt


python3.11 -m pip install 
python3.11 -m pip install --upgrade pip
python3.11 -m pip install pytest
python3.11 -m pytest
python3.11 -m pip install pygame
python3.11 -m pip install matplotlib
python3.11 -m pip install plotly
python3.11 -m pip install pandas
python3.11 -m pip install requests
python3.11 -m venv ll_env
learning_log$ source ll_env/bin/activate
learning_log$ python manage.py runserver
python3.11 -m pip install --upgrade pip
python3.11 -m pip install django
python3.11 -m pip install django-bootstrap5
python3.11 -m pip install beautifulsoup4


git add --all
git commit -m "initial commit"
git push
