gitnotes.txt


python3.11 -m pip install 
python3.11 -m pip install --upgrade pip
python3.11 -m pip install pytest
python3.11 -m pytest
python3.11 -m pip install pygame
python3.11 -m pip install matplotlib
python3.11 -m pip install plotly
python3.11 -m pip install pandas
python3.11 -m pip install requests


git add --all
git commit -m "initial commit"
git push
